@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply m-0 min-h-screen bg-canvas text-text font-sans antialiased bg-veil-gradient;
    background-size: cover;
  }

  code {
    @apply font-mono text-sm text-accent-foreground;
  }
}
